.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.m2
.m2/
.cache/
node_modules/
*.log
.npm-cache
.npm-cache/
**/.npm-cache
**/.npm-cache/
dist/
build/
target
target/
**/target
**/target/
*.tgz
*.node
*.whl
*.egg-info/
Cargo.lock
site/
